@mixin before_circle{
    &:before {
        content: '';
        position: absolute;
        top: -6px;
        left:0;
        width: 36px;
        height: 36px;
        background-color: $main-color;
        border-radius: 50%;
        z-index: -1;
       
    }

}

@mixin circle_point {
    &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: $main-color;
        border-radius: 100%;
        left: -7px;
        top: 50%;
        transform: translateY(-50%);

    }
}