.price {
    padding-top: 66px;
    &__wrapper {
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, minmax(366px, auto));
        justify-content: space-around;      
    }
    &__column {
        display: grid;
        grid-template-rows: repeat(3, minmax(45px   , auto));
        row-gap: 15px;
        grid-auto-rows: minmax(45px, auto);

    }
    &__item {
        display: grid;
        position: relative;
        padding-left: 25px;
        grid-template-rows: repeat(2, minmax(21px, auto));
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        row-gap: 5px;
        &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: $main-color;
            border-radius: 100%;
            left: 0;
            top: 5px;
        }
        &-name, &-price{
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
        }
        &-descr {
            font-size: 12px;
            line-height: 18px;
        }
        
            
    

        &-price {
            text-align: end;
        }
        &-descr {
            grid-column: 1/3;
        }

    }
}