.promo {
    height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        z-index: 2;
        padding-left: 12px;
        @include before_circle;
        
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        position: relative;
        color: #000;
        font-size: 14px;
        line-height: 21px;
        font-weight: bold;
        transition: all .3s ease;
        &:hover {
            color: #000;
            text-decoration: none;
            transform: translate(-2px, -3px);
            &:nth-child(2) {
                transform: scale(1.2);
            }
        }


    }
}

